/* Step 3 CSS */
.form-card {
    text-align: left;
  }
  
  .fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
  }
  
  .fieldlabels {
    color: gray;
    text-align: left;
  }
  
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
  }
  
  #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
  }
  
  .progress {
    height: 20px;
  }
  
  .progress-bar {
    background-color: #673AB7;
  }
  
  .next.action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
  }
  
  .next.action-button:hover,
  .next.action-button:focus {
    background-color: #311B92;
  }
  
  .previous.action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
  }
  
  .previous.action-button-previous:hover,
  .previous.action-button-previous:focus {
    background-color: #000000;
  }
  
  .card {
    z-index: 0;
    border: none;
    position: relative;
  }
  
  #msform input,
  #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
  }
  
  #msform .progress-bar {
    width: 66%;
  }
  
  .fit-image {
    width: 100%;
    object-fit: cover;
  }
  